<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head', {page_title: "About"})  %> 

<body>

    <%- include('../partials/header')  %> 

    <main class="contenedor">
        <h1>About Us</h1>
        <div class="nosotros">
            <div class="nosotros__contenido">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus autem quis numquam expedita eveniet quo recusandae possimus vero libero sed animi, et ad praesentium! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel libero nemo, ratione aliquid, ullam explicabo nulla mollitia neque at commodi quo error asperiores. Voluptates, pariatur. Nemo quis tempore dolores porro? Lorem ipsum, dolor sit amet.ipsa obcaecati maxime nulla pariatur rem ab quasi, iste quia sint minima perspiciatis corporis.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, ipsum magnam ducimus, officiis expedita voluptatum architecto minus velit consequatur minima cupiditate ut? Labore ullam debitis beatae? Libero, cumque accusamus. Magni.</p>
            </div>
            <img class="nosotros__imagen" src="images/nosotros.jpg" alt="modelo redux">
        </div>
    </main>
    <section class="contenedor comprar">
        <h2 class="comprar__titulo">Why us?</h2>
        <div class="bloques">
            <div class="bloque">
                <img src="images/icono_1.png" alt="icon money" class="bloque__icono">
                <h3 class="bloque_titulo">Best prices</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut placeat eum repellat earum?.</p>
            </div> <!--.bloque-->
            <div class="bloque">
                <img src="images/icono_2.png" alt="icon html5" class="bloque__icono">
                <h3 class="bloque_titulo">For developers</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut placeat eum repellat earum?.</p>
            </div> <!--.bloque-->
            <div class="bloque">
                <img src="images/icono_3.png" alt="icon envio" class="bloque__icono">
                <h3 class="bloque_titulo">Free shipment</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut placeat eum repellat earum?.</p>
            </div> <!--.bloque-->
            <div class="bloque">
                <img src="images/icono_4.png" alt="icon seguridad" class="bloque__icono">
                <h3 class="bloque_titulo">Top notch quality</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut placeat eum repellat earum?.</p>
            </div> <!--.bloque-->
        </div><!--.bloques-->
    </section>

    <%- include('../partials/footer')  %> 

</body>
</html>